/* Загальні стилі */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

header img {
  max-height: 60px;
}

/* Карточки */
.card {
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.custom-slider {
  max-width: 800px; /* ширина слайдера */
  height: 400px;     /* висота слайдера */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: #000; /* фон під "рамку" фото */
}


/* Галерея */
img.img-fluid {
  cursor: pointer;
  transition: transform 0.3s ease;
}

img.img-fluid:hover {
  transform: scale(1.03);
}

/* Футер */
footer {
  font-size: 0.9rem;
}

/* Адаптивні медіа-запити */
@media (max-width: 768px) {
  header h1 {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
